__pycache__/
app/__pycache__/
app/core/__pycache__/
app/modules/__pycache__/
app/modules/upload/__pycache__/

static/

PROJECT_STRUCTURE.md
DATABASE_DESIGN.md
TECH_ARCHITECTURE.md
MYSQL_MIGRATION_GUIDE.md
GENERATION_MODULE_README.md
NEW_FILE_STRUCTURE.md
AUTH_SYSTEM_README.md

.env

clear_database.py
restore_default_user.py